body{
  color: rgb(172, 168, 168);
  text-align: center;
  font-family: sans-serif;
}
.container-2{
  max-width: 100%;
  margin: 40px auto;
  width: 1200px;
}
.margin-top-lg{
  margin: 300px;
}
.container-1{
  width: 600px;
  margin: 40px auto;
  max-width: 100%;
}
h1,h2,h3{
  color: rgb(41, 40, 40);
}
p{
  line-height: 1.5;
}
header{
  background-image: url('./images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
img{
  max-width: 100%;
}
.quick-access{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 768px){
  .quick-access {
    flex-direction: column;
  }
}
.quick-access>*{
  flex: 1;
}
.left{
  text-align: left;
  padding: 100px;
  margin: 0 10px;
}
.button{
  background-color: rgba(30, 179, 159, 0.719);
  border-radius: 50px;
  color: white;
  border: none;
  box-shadow: 0 4px rgba(11, 143, 123, 0.719);
  padding: 10px 30px;
  margin: 5px;
  text-decoration: none;
}
.b-2{
  background-color: rgb(55, 14, 240);
  box-shadow: 0 4px  rgb(51, 8, 240);
}
.button:hover{
  opacity: 0.5;
}

footer{
  background-color: rgba(196, 192, 192, 0.137);
}
footer img{
  width: 50px;
}
footer > *{
  flex: 1;
}
@media (max-width: 768px){
  footer {
    flex-direction: column;
  }
  footer .sitemaps{
    flex-direction: column;
  }
  .button{
    display: block;
    margin: 25px;
  }
}
footer ul{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
footer ul a{
  text-decoration: none;
  color: rgb(172, 168, 168);
}
footer .sitemaps li{
  margin-right: 20px;
  padding: 10px;
}
footer .socials li{
  margin-right: 20px;
  width: 20px;
}
footer a:hover{
  color: rgba(30, 179, 159, 0.719);
  }

